<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header::header(title='home')">
</head>

<body>
         
	<nav th:replace="fragments/header::language"></nav>
	
	
    <div sec:authorize="hasAuthority('CHAT')">
    	<a th:href="@{/logout}" th:text="#{logout}">Sign Out</a>
    	<br /><br />

 		<br/>
 		<!--a href="chatRoom/list">View Chat Rooms</a><br /-->
 		<h1 th:text="#{chatGroup}"></h1><br /><br />
 		
 		<a th:href="@{/chatroom/1}">Woody Allen</a><br/>
		<a th:href="@{/chatroom/2}">Brad Pitt</a><br/>
      	
    	</div>
    
    <br /><br />
    
    <div th:replace="fragments/footer::footer"></div>
    
    
    
    
</body>
</html>